.color {
    border: 1px solid rgba(17, 17, 17, 0.15) !important;
    height: 2rem;
    width: 2rem;
}

    .color:focus {
        box-shadow: none;
    }

    .color.active {
        box-shadow: 0 0 0 1.6px white, 0 0 0 4px #258cfb;
    }
