<section class="d-flex gap-3 w-50">
    <div class="d-flex flex-column gap-3">
        @foreach (string image in images)
        {
            <button type="button" class="image rounded-3 d-flex p-0 border border-1 border-default @(GetSelectedImage() == image ? "active" : "")" @onclick="() => selectedImage = image">
                <img class="rounded-2 w-100 h-100" src="@image" />
            </button>
        }
    </div>

    <img class="rounded-2 border border-1 border-default w-100 h-fit" src="@GetSelectedImage()" />
</section>

@code {
    [Parameter]
    public List<string> images { get; set; } = new List<string>();

    private string selectedImage = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (!images.Contains(selectedImage))
        {

            selectedImage = string.Empty;
        }

        selectedImage = GetSelectedImage();
    }

    private string GetSelectedImage()
    {
        if (!images.Any())
        {
            return "/uploads/placeholder1.jpg";
        }

        if (string.IsNullOrEmpty(selectedImage))
        {
            selectedImage = images.First();
        }

        return selectedImage;
    }
}