@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="d-flex flex-column gap-2">
    <div class="d-flex justify-content-between">
        <span>Pris</span>
        <span>@min kr - @max kr</span>
    </div>

    <div class="position-relative rounded-2 w-100 mb-2" style="height: 5px; background-color: rgba(0, 0, 0, 0.5)">
        <div class="position-absolute rounded-2" style="background-color: #1b6ec2; height: 5px; left: @GetLeftValue(); right: @GetRightValue()"></div>

        <input id="first" type="range" class="position-absolute w-100 top-50 translate-middle-y" min="0" max="10000" step="100" value="@min" @oninput="(e) => OnInput(e, true)" />
        <input id="second" type="range" class="position-absolute w-100 top-50 translate-middle-y" min="0" max="10000" step="100" value="@max" @oninput="(e) => OnInput(e, false)" />
    </div>
</div>

@code {
    [Parameter]
    public int min { get; set; } = 0;

    [Parameter]
    public EventCallback<int> minChanged { get; set; }

    [Parameter]
    public int max { get; set; } = 10000;

    [Parameter]
    public EventCallback<int> maxChanged { get; set; }

    private async Task OnInput(ChangeEventArgs e, bool isFirstInput)
    {
        if (!int.TryParse(e.Value?.ToString() ?? string.Empty, out int value))
        {
            return;
        }

        if (isFirstInput)
        {
            min = Math.Min(value, max);

            await minChanged.InvokeAsync(min);

            await JS.InvokeVoidAsync("updateInputValueById", "first", min);
        }
        else
        {
            max = Math.Max(value, min);

            await maxChanged.InvokeAsync(max);

            await JS.InvokeVoidAsync("updateInputValueById", "second", max);
        }
    }

    private string GetLeftValue()
    {
        decimal firstValueDouble = (decimal)min / 10000M;

        int leftValueDouble = (int)(firstValueDouble * 100);

        return leftValueDouble + "%";
    }

    private string GetRightValue()
    {
        decimal secondValueDouble = (decimal)max / 10000M;

        int rightValueDouble = (int)(100 - secondValueDouble * 100);
        
        return rightValueDouble + "%";
    }
}
