header {
    right: 0;
    left: 0;
    top: 0;
}

    header > nav {
        max-width: 80rem;
        height: 4rem;
    }

        header > nav > a {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }

        header > nav > section {
            padding: 0 10rem;
        }

            header > nav > section > ul {
                transition: background-color .2s ease-in-out;
            }

            header > nav > section > div {
                display: none;
                top: 4rem;
                left: 0;
            }

            header > nav > section:hover > ul {
                background-color: rgba(17, 17, 17, 0.1);
            }

            header > nav > section:hover > div {
                display: block;
            }

            header > nav > section > div > div {
                max-width: 80rem;
            }

.badge {
    right: 0.188rem;
    top: 0.188rem;
    height: 1rem;
    width: 1rem;
}
