nav {
    border-bottom: 1px solid rgba(17, 17, 17, 0.15);
    backdrop-filter: blur(16px) saturate(1.5);
    right: 0;
    left: 0;
    top: 0;
}

    nav header {
        max-width: 1280px;
        height: 4rem;
    }

        nav header > div > a {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }

button[data-bs-toggle] {
    transition: background-color .2s ease-in-out;
    height: 2.5rem;
}

    button[data-bs-toggle].show,
    button[data-bs-toggle]:hover {
        background-color: rgba(17, 17, 17, 0.1) !important;
    }

.badge {
    height: 1rem;
    width: 1rem;
    right: 0;
    top: 0;
}
