@inherits LayoutComponentBase
@implements IDisposable
@inject AuthenticationService Auth

<Header />

<main>@Body</main>

<Footer />

@code {
    protected override void OnInitialized()
    {
        Auth.OnCurrentUserHasChanged += OnCurrentUserChanged;
    }

    private void OnCurrentUserChanged(object? sender, User? user)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Auth.OnCurrentUserHasChanged -= OnCurrentUserChanged;
    }
}