<div class="list-group">
    <NavLink href="/" class="list-group-item list-group-item-action">Home</NavLink>
    <NavLink href="/add-product" class="list-group-item list-group-item-action">Add Product</NavLink>
    @if (Auth.IsAuthenticated)
    {
        <NavLink href="#" class="list-group-item list-group-item-action text-danger" @onclick="Logout">Logout</NavLink>
    }
    else
    {
        <NavLink href="/login" class="list-group-item list-group-item-action">Login</NavLink>
        <NavLink href="/register" class="list-group-item list-group-item-action">Register</NavLink>
    }
</div>

@code {
    [Inject] CurrentUserService Auth { get; set; }
    [Inject] NavigationManager Nav { get; set; }

    private void Logout()
    {
        Auth.SignOut();
        Nav.NavigateTo("/");
    }
}
