<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Projekt.styles.css"]" />
    <link href="/fonts/Montserrat-Regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin />
    <link href="/fonts/Montserrat-Bold.woff2" rel="preload" as="font" type="font/woff2" crossorigin />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function () {
          document.getElementById('wrapper').classList.toggle('toggled');
        });
    </script>
    <script>
        window.updateInputValueById = function (id, value) {
            const input = document.getElementById(id);

            if (!input) return;

            input.value = value;
        };
    </script>
</body>

</html>
