@page "/"

@inject DBService DBService

<p>@(isConnected ? "Connected to the database" : "Not connected to the database")</p>

<button class="my-3 btn btn-primary" @onclick="GetUsers">Get Users</button>

<ul>
    @foreach (var user in users)
    {
        <li>@user.Id</li>
        <li>@user.Name</li>
        <li>@user.Email</li>
        <li>+@user.PhoneCode@user.PhoneNumber</li>
    }
</ul>

@code {
    bool isConnected = false;

    protected override async Task OnInitializedAsync()
    {
        isConnected = await DBService.TestConnectionAsync();
    }

    List<Users> users = new List<Users>();

    private async Task GetUsers()
    {
        users = await DBService.GetAllUsers();
    }
}