@page "/"

@inject DBService DBService

<p>@(isConnected ? "Connected to the database" : "Not connected to the database")</p>

@code {
    bool isConnected = false;
    protected override async Task OnInitializedAsync()
    {
        isConnected = await DBService.TestConnectionAsync();
    }
}