@page "/test"
@rendermode InteractiveServer

<PageTitle>Test</PageTitle>

<div class="d-flex" style="gap: 2rem;">
    <div>
        <div id="filter">
            <Filter @bind-minPrice="minPrice" @bind-maxPrice="maxPrice" @bind-brands="brands" @bind-sizes="sizes" @bind-colors="colors" />
        </div>

        <style>
            #filter {
                border: 1px solid rgba(17, 17, 17, 0.15) !important;
                border-radius: 1rem;
                width: 17.5rem;
                padding: 1rem;
            }
        </style>

        <p>@minPrice kr - @maxPrice kr</p>

        <p>Mærker: @string.Join(", ", brands.Select(b => b.Name))</p>

        <p>Størrelser: @string.Join(", ", sizes)</p>

        <p>Farver: @string.Join(", ", colors.Select(c => Enum.GetName(typeof(Colors), c)))</p>
    </div>

    <div>
        <div>
            <StarRating @bind-rating="rating" />
        </div>
    </div>
</div>

@code {

    private int minPrice = 0;
    private int maxPrice = 10000;
    private List<Brand> brands = new List<Brand>();
    private List<string> sizes = new List<string>();
    private List<Colors> colors = new List<Colors>();

    private int? rating = null;

}