html, body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

    h1:focus {
        outline: none;
    }

main {
    min-height: calc(100vh - 28.888rem);
    padding: 4rem;
}

@media only screen and (min-width: 1920px) {
    main {
        max-width: 1920px;
        margin: 0 auto;
    }
}

/* Ekstra global css */

hr {
    background-color: rgba(17, 17, 17, 0.15);
    min-height: 1px;
    min-width: 1px;
    border: none;
    opacity: 1;
}

.border-default {
    border-color: rgba(17, 17, 17, 0.15) !important;
}

.border-not-last:last-of-type {
    padding-bottom: 0 !important;
    border: none !important;
}

[type="button"]:not(.btn):focus {
    box-shadow: none;
}

[type="button"]:not(.btn).active {
    box-shadow: 0 0 0 1.6px white, 0 0 0 4px #258cfb;
}

[type="button"]:not(.btn, .color) {
    transition: background-color .2s ease-in-out;
    background-color: transparent;
}

    [type="button"]:not(.btn, .color).show,
    [type="button"]:not(.btn, .color).active,
    [type="button"]:not(.btn, .color):hover {
        background-color: rgba(17, 17, 17, 0.1) !important;
    }

    [type="button"]:not(.btn, .color).text-danger:hover {
        background-color: rgba(220, 53, 69, 0.25) !important;
    }

.w-fit {
    width: fit-content !important;
}

.w-1 {
    width: 1% !important;
}

.w-25 {
    width: 25% !important;
}

.w-1rem {
    width: 1rem !important;
}

.w-2rem {
    width: 2rem !important;
}

.w-2_5rem {
    width: 2.5rem !important;
}

.w-3rem {
    width: 3rem !important;
}

.w-6rem {
    width: 6rem !important;
}

.w-20rem {
    width: 20rem !important;
}

.min-w-2rem {
    min-width: 2rem !important;
}

.min-w-2_5rem {
    min-width: 2.5rem !important;
}

.min-w-3rem {
    min-width: 3rem !important;
}

.min-w-20rem {
    min-width: 20rem !important;
}

.min-w-6rem {
    min-width: 6rem !important;
}

.h-fit {
    height: fit-content !important;
}

.h-1rem {
    height: 1rem !important;
}

.h-2rem {
    height: 2rem !important;
}

.h-2_5rem {
    height: 2.5rem !important;
}

.h-6rem {
    height: 6rem !important;
}

.min-h-2rem {
    min-height: 2rem !important;
}

.min-h-2_5rem {
    min-height: 2.5rem !important;
}

.min-h-6rem {
    min-height: 6rem !important;
}

.fs-7 {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.fs-8 {
    font-size: 0.75rem;
    line-height: 1rem;
}

article.form {
    width: 30rem;
}

.color.black {
    background-color: black;
}

.color.white {
    background-color: white;
}

.color.gray {
    background-color: gray;
}

.color.red {
    background-color: red;
}

.color.blue {
    background-color: blue;
}

.color.green {
    background-color: green;
}

.color.yellow {
    background-color: yellow;
}

.color.purple {
    background-color: purple;
}

.color.pink {
    background-color: pink;
}

.color.orange {
    background-color: orange;
}

.color.brown {
    background-color: brown;
}
