html, body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

    h1:focus {
        outline: none;
    }

main {
    min-height: calc(100vh - 28.888rem);
    padding: 4rem;
}

/* Ekstra global css */

.w-fit {
    width: fit-content !important;
}

.w-1 {
    width: 1% !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.h-fit {
    height: fit-content !important;
}
